body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
  color: #232b2b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#mainnavbar {
  background-color: white !important;
}
#subnavbar {
  justify-content: space-evenly !important;
}

svg:hover {
  width: 10%; 
  height: auto;
}

@media (min-width: 668px) and (max-width: 1023px) {
  #votelottie {
     width: 230px;
     height: 230px;
   }
}

@media (min-width: 1024px) {
  #votelottie {
    width: 280px;
    height: 280px;
  }
}