body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#mainnavbar {
  background-color: white !important;
}
#subnavbar {
  justify-content: space-evenly !important;
}
/* nav {
  background-color: white !important;
} */

  
/* @media (min-width: 575px) { 
  nav { margin-bottom: 3em; } 
} */